*.class
*.txt
*.docx
pietnastka/nbactions.xml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/pietnastka/target/
/pietnastka/nbactions.xml
/iad/nbproject/private/
/siecs/nbproject/private/
/siecs/build/
/siecs/dist/